@-webkit-keyframes fadein {
    0% {
        display: block;
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
  }
@keyframes fadein {
    0% {
        display: block;
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
        opacity: 0;
        display: none;
    }
  }
@keyframes fadeout {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
        opacity: 0;
        display: none;
    }
}