@font-face {
    src: local('Inter'), url('/Inter/static/Inter-Regular.ttf') format("truetype");
    font-family: 'Inter';
}

@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    background: lighten($red, 20);
    color: white;
}

::selection {
    background: lighten($red, 20);
    color: white;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar, #sect1, #sect2, #sect3, #sect4, #sect5, #sect6, #foot {
    padding: $offset;

    @include epicdesktop {
        padding: 0 20%;
    }
    @include bigdesktop {
        padding: 0 15%;
    }
}

.navbar {
    font-family: 'Inter', monospace;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px 0 rgba(125, 125, 125, .2);
    z-index: 2;

    @include mediumdesktop {
        padding: 0 10%;
        font-size: 14px;
    }
    @include smalldesktop {
        padding: 0 5%;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .menu {

        @include tabletportrait {
            display: none;
        }
        
        li {
            display: inline-block;
            list-style: none;

            a {
                font-weight: bold;
                padding: 5px 0;
                cursor: pointer;
                text-decoration: none;
                color: black;
                margin: 0 0.5rem;
                border-bottom: 3px solid transparent;

                @include tabletlandscape {
                    font-size: 12px;
                    margin: 0 5px;
                }
            }

            .active {
                border-bottom: 3px solid $red;
            }
        }
    }

    .user {
        display: flex;
        align-items: center;

        .mode {
            display: flex;
            align-items: center;
            margin-right: 1rem;

            img {
                cursor: pointer;
            }
        }

        a {
            text-decoration: none;
            color: $red;
            font-weight: bold;
            font-size: 14px;
            border-radius: $smallradius;

            @include tabletlandscape {
                font-size: 12px;
            }

            &:last-of-type {
                padding: 10px;
                margin-left: 1rem;
                border: 0;
                color: white;
                background-color: $red;
            }
        }
    }
}

main {
    font-family: 'Inter';
    letter-spacing: 0.5px;
    position: relative;
}

.dark {
    background-color: black;

    .logo {

        img {
            filter: invert(100%);
        }
    }

    h1, h2, h3, h4, h5, span, p, ul, li, a {
        color: white;
    }
}

#sect1 {
    display: flex;
    align-items: center;
    height: 100vh;

    @include mediumdesktop {
        padding: 0 10%;
    }
    @include smalldesktop {
        padding: 10% 5%;
        height: 100%;
    }
    @include tabletlandscape {
        display: block;
        padding-top: 10%;
    }
    @include tabletportrait {
        padding-top: 15%;
    }
    @include phone {
        padding-top: 25%;
    }

    .slidehead1, .slidehead2, .slidehead3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        padding: 4rem;
    }

    .slidehead1 {
        background-color: #3F68D2;
        background-image: url('/sect1/qrback.png');
        background-position: 40% 60%;
        background-repeat: no-repeat;
        background-size: 120px;

        .article {

            .text {

                h1 {
                    color: white;
                }
                        
                p {
                    color: white;
                }
            }
        }
    }
    .slidehead2 {
        background-color: #4C5771;
        background-image: url('/sect1/qrback.png'), url('/sect1/qrback.png');
        background-position: 10% 20%, 45% 70%;
        background-repeat: no-repeat;
        background-size: 250px, 120px;

        .article {

            .text {

                h1 {
                    color: white;
                }
                        
                p {
                    color: white;
                }
            }
        }
    }
    .slidehead3 {
        background-image: url('/sect1/qrback.png');
        background-position: 60% 20%;
        background-repeat: no-repeat;
        background-size: 400px;

        .article {

            .text {

                h1 {
                    margin-left: -2rem;
                }

                .advantages {
                    margin-left: 4rem;

                    li {
                        list-style: none;
                        padding: 1rem 0;
                        
                        p {
                            font-size: 18px;
                            margin-left: -2rem;
                        }
                        span {
                            font-weight: bold;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .article {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 2rem;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 1rem;

                @include phone {
                    font-size: 22px;
                    font-weight: bold;
                }
            }
    
            p {
                font-size: 18px;
                line-height: 1.6;

                @include mediumdesktop {
                    font-size: 16px;
                }
                @include smalldesktop {
                    font-size: 14px;
                }
            }
        }

        .option {
            width: 100%;
            margin-top: 2rem;
            display: flex;
            align-items: center;
            flex-direction: column;

            button {
                width: 260px;
                margin-top: 2rem;
                cursor: pointer;
                border: 0;
                outline: 0;
                background-color: black;
                color: white;
                border-radius: $smallradius;
                padding: 0.5rem 1rem;
                font-size: 16px;
                font-weight: bold;
                font-family: 'Inter';
            }
        }
    }

    .showcase {

        @include tabletlandscape {
            justify-content: center;
            margin-top: 5rem;
            background: none;
        }

        .wrap {
            position: relative;
            display: none;

            @include tabletlandscape {
                display: block;
            }
    
            .slider {
                position: absolute;
                top: 64px;
                left: 16px;
                width: 227px;
                height: 400px;
            }
        }
    }
}

#sect2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mediumdesktop {
        padding: 0 10%;
    }
    @include smalldesktop {
        padding: 5% 5%;
        height: 100%;
    }
    @include tabletlandscape {
        display: block;
        padding-top: 5%;
    }

    .top {
        display: flex;
        flex-direction: column;

        h1 {
            margin-bottom: 2rem;
            text-align: center;
            font-size: 30px;
            font-weight: 500;

            @include phone {
                font-size: 22px;
                font-weight: bold;
            }
        }

        p {
            line-height: 1.6;
            font-size: 18px;

            @include mediumdesktop {
                font-size: 16px;
            }
            @include smalldesktop {
                font-size: 14px;
            }
        }
    }

    .bot {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
        text-align: center;

        @include smalldesktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 2rem;
        }
        @include tabletportrait {
            display: block;
        }

        .item {
            cursor: pointer;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: $bigradius;
            box-shadow: 0 2px 4px 0 rgba(125, 125, 125, .2);
            transition: 0.2s;

            @include tabletportrait {
                margin-bottom: 2rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            &:hover {
                box-shadow: 0 2px 6px 0 rgba(125, 125, 125, .3);
            }

            h3 {
                height: 4rem;
                margin-top: 1rem;

                @include tabletportrait {
                    font-size: 16px;
                }
            }

            p {
                text-align: left;
                height: 11rem;
                line-height: 1.5;

                @include mediumdesktop {
                    font-size: 14px;
                }
                @include smalldesktop {
                    height: 5rem;
                }
                @include tabletportrait {
                    height: auto;
                }
            }
        }
    }
}

#sect3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(40, 40, 40);

    @include mediumdesktop {
        padding: 0 10%;
    }
    @include smalldesktop {
        padding: 0 5%;
    }
    @include tabletlandscape {
        padding: 5% 5%;
        display: block;
        height: 100%;
    }

    h1 {
        margin-bottom: 2rem;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        color: white;

        @include phone {
            font-size: 22px;
            font-weight: bold;
        }
    }

    .uses {
        display: flex;
        justify-content: space-evenly;

        @include tabletlandscape {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .left, .right {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .item {
                display: flex;
                align-items: center;
                padding: 1rem 0;
            }
        }

        .left {
            align-items: flex-end;

            .item {

                h3 {
                    margin-right: 1rem;
                    color: white;

                    @include mediumdesktop {
                        font-size: 16px;
                    }
                    @include phone {
                        font-size: 14px;
                    }
                }
            }
        }

        .right {
            align-items: flex-start;

            .item {
                flex-direction: row-reverse;

                h3 {
                    margin-left: 1rem;
                    color: white;

                    @include mediumdesktop {
                        font-size: 16px;
                    }
                    @include phone {
                        font-size: 14px;
                    }
                }
            }
        }

        .wrap {
            position: relative;

            @include tabletlandscape {
                margin: 2rem 0;
            }

            .image {
                position: absolute;
                top: 64px;
                left: 16px;
            }
        }
    }
}

#sect4 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mediumdesktop {
        padding: 0 10%;
    }
    @include smalldesktop {
        padding: 0 5%;
    }
    @include tabletlandscape {
        display: block;
        height: 100%;
    }
    @include tabletlandscape {
        padding: 5%;
    }

    .text {

        h1 {
            margin-bottom: 2rem;
            text-align: center;
            font-size: 30px;
            font-weight: 500;

            @include phone {
                font-size: 22px;
                font-weight: bold;
            }
        }

        p {
            line-height: 1.6;
            font-size: 18px;

            @include mediumdesktop {
                font-size: 16px;
            }
            @include mediumdesktop {
                font-size: 14px;
            }
        }
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        @include tabletportrait {
            flex-direction: column;
        }

        .tablet {

            @include tabletportrait {
                margin: 2rem 0;
            }
        }

        ul {
            margin-left: 4rem;

            @include tabletportrait {
                align-self: flex-start;
                margin-left: 0;
            }

            li {
                list-style-type: none;
                margin: 1rem 0;
                font-size: 18px;

                @include mediumdesktop {
                    font-size: 16px;
                }
                @include mediumdesktop {
                    font-size: 14px;
                }

                &::before {
                    content: '\2714';
                    margin-right: 10px;
                }
            }
        }
    }
}

#sect5 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mediumdesktop {
        padding: 0 10%;
    }
    @include smalldesktop {
        padding: 0 5%;
    }
    @include tabletlandscape {
        display: block;
        height: 100%;
    }
    @include tabletlandscape {
        padding: 5%;
    }

    .article {

        h1 {
            margin-bottom: 2rem;
            text-align: center;
            font-size: 30px;
            font-weight: 500;

            @include phone {
                font-size: 22px;
                font-weight: bold;
            }
        }

        p {
            line-height: 1.6;
            font-size: 18px;

            @include mediumdesktop {
                font-size: 16px;
            }
            @include mediumdesktop {
                font-size: 14px;
            }
        }
    }

    span {
        margin: 1rem 0;
        color: $red;

        @include mediumdesktop {
            font-size: 14px;
        }
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        @include tabletportrait {
            flex-direction: column;
        }

        ul {
            margin-right: 4rem;

            li {
                list-style-type: none;
                margin: 1rem 0;
                font-size: 18px;

                @include mediumdesktop {
                    font-size: 16px;
                }
                @include mediumdesktop {
                    font-size: 14px;
                }

                &::before {
                    content: '\2714';
                    margin-right: 10px;
                }
            }
        }
    }
}

#sect6 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mediumdesktop {
        padding: 0 10%;
    }
    @include smalldesktop {
        padding: 0 5%;
    }
    @include tabletlandscape {
        display: block;
        padding-bottom: 10%;
        height: 100%;
    }
    @include tabletportrait {
        padding-top: 5%;
        padding-bottom: 15%;
    }
    @include phone {
        padding-bottom: 25%;
    }

    .article {

        h1 {
            margin-bottom: 2rem;
            text-align: center;
            font-size: 30px;
            font-weight: 500;

            @include phone {
                font-size: 22px;
                font-weight: bold;
            }
        }
    }

    .customers {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, auto));
        gap: 2rem;

        img {
            transition: 0.2s;
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

#foot {
    font-family: 'Inter';
    background-color: black;

    @include mediumdesktop {
        padding: 0 10%;
    }
    @include smalldesktop {
        padding: 0 5%;
    }

    .info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 0;

        @include tabletportrait {
            flex-direction: column;
        }

        .item {
            display: flex;
            align-items: flex-start;
            margin: 1rem 0;

            &:not(&:first-of-type) {
                div {
                    display: flex;
                    align-self: center;
                }
            }

            img {
                filter: invert(100%);
            }

            p {
                margin-left: 1rem;
                color: darkgray;
                line-height: 1.6;
                font-size: 14px;

                @include tabletlandscape {
                    margin-left: 5px;
                }
            }
        }
    }

    .copyright {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;

        p {
            color: darkgray;
            font-size: 12px;
        }
    }
}

#totop {
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(125, 125, 125, .2);
    width: 50px;
    height: 50px;
    right: 15%;
    bottom: 2rem;
    border-radius: 50%;
    padding: 1rem;
    background-color: $orange;
    cursor: pointer;

    @include epicdesktop {
        right: 20%;
    }
    @include bigdesktop {
        right: 15%;
    }
    @include mediumdesktop {
        right: 10%;
    }
    @include smalldesktop {
        right: 5%;
    }
    
    img {
        filter: invert(100%);
    }
}